.speacial{
    color: red;
}

.text-success{
    font-style: italic;
    color:green;
}

.text-danger{
    font-style: bold;
    color:red;
}

.text-speacial{
    font-style: oblique;
    color:blue;
}